/* header *{
    display: inline-block;
    
} */
header{
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul{
    display: flex;
}
li{
    margin: 0 10px;
    list-style-type: none;
}
a{
    text-decoration: none;
    color:green;
}